<form name="Versicherungsantrag">

    <script cam-script type="text/form-script">

        var customerData = $scope.customerData = {};

        camForm.on('form-loaded', function() {
            camForm.variableManager.createVariable({
                name: 'customerData',
                type: 'Object',
                value: customerData,
                valueInfo: {
                    serializationDataFormat: 'application/json',
                    objectTypeName: 'de.mjkd.bpm.model.Person'
                }
            });
        });

    </script>

    <h3>Vertragsdetails</h3>

    <div class="form-group">
        <label for="customerName">Name</label>
        <input class="form-control"
                cam-variable-type="String"
                cam-variable-name="customerName"
                id="customerName"
                ng-model="customerData.name"/>
    </div>

    <div class="form-group">
        <label for="customerEmail">Email</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="customerEmail"
               id="customerEmail"
               type="email"
                ng-model="customerData.email"/>
    </div>

    <div class="form-group">
        <label for="customerAge">Alter</label>
        <input class="form-control"
               cam-variable-type="Integer"
               cam-variable-name="age"
               id="customerAge"
               type="number"
                min="18"
                max="100"
        ng-model="customerData.age"/>
    </div>

</form>